<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.min.css') }}">
</head>
<body>
<section class="hero is-fullheight" style="background-color:#c4fcc4;">
    <div class="hero-head">     
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('index') }}" class="navbar-item">
                            Home
                        </a>
                        <a href="{{ url_for('about') }}" class="navbar-item">
                            About
                        </a>
                        
                        {% if not session.get('username'): %}
                            <div class="navbar-item">
                              <div class="buttons">
                                <a href="{{ url_for('login') }}" class="button is-primary">
                                  <strong>Login</strong>
                                </a>
                              </div>
                            </div>
                        {% endif %}

                        {% if session.get('username'): %}
                            <div class="navbar-item">
                              <div class="buttons">
                                <a href="{{ url_for('panel') }}" class="button is-primary">
                                  <strong>Panel</strong>
                                </a>
                                <a href="{{ url_for('logout') }}" class="button is-light">
                                    Logout ({{ session['username'] }})
                                </a>
                              </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {% if session.get('username'):%}
        <nav class="navbar">
            <div class="container">   
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Projekt
                </a>
        
                <div class="navbar-dropdown">
                  {% for i in range(0,5) %}
                  <a class="navbar-item">
                    {{i}}
                  </a>
                  {% endfor %}
                  <hr class="navbar-divider">
                  <a class="navbar-item">
                    + Stwórz
                  </a>
                </div>
              </div>           
                <div id="navbarMenuHeroB" class="navbar-brand">
                    <div class="navbar-end">
                        <a href="{{ url_for('index') }}" class="navbar-item">
                            nmap
                        </a>
                        <a href="{{ url_for('index') }}" class="navbar-item">
                            host
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                      Przypłady:
                    </a>
            
                    <div class="navbar-dropdown">
                      <a class="navbar-item">
                        nc
                      </a>
                      <a class="navbar-item">
                        nmap
                      </a>
                      <a class="navbar-item">
                        socat
                      </a>
                      <hr class="navbar-divider">
                      <a class="navbar-item">
                        slowniki
                      </a>
                    </div>
                  </div>
            </div>
        </nav>
        {% endif %}
    </div>
    <div class="hero-body" style="background-color:#93ca93;">
        <div class="container has-text-centered">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>
GitHub ELOOLE
</body>
</html>